.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-sm {
  width: 80%;
  justify-content: center;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;

}

.col {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.navLinks {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.navLinks:hover {
  cursor: pointer;
}

.navLinks:first-child {
  margin-right: .5em;
}

.active:hover {
  cursor: pointer;
}

.clear {
  margin-top: 4em;
  margin-bottom: 3em;
}

.item {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.item:first-child {
  margin-top: 0;
}

.title {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 7px;
  text-decoration: none;
}

.info {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #808080;
  padding-top: 0;
}

.lightbulb {
  color: #BB2E1F;
  font-size: 1.7em;
}

/* User View Styles */
.userHeading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.userInfo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #808080;
  padding-top: .75em;
}

.userData {
  font-weight: bold;
}

h2 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-family: 'Segoi UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.postTitle {
  margin-top: 1.2em;
  margin-bottom: 0;
  padding-bottom: .1em;
}

.postTitle:first-of-type {
  margin-top: 0;
}

#root {
  height: 100vh;
}

.body {
  height: 100vh;
}

/* Comment View */
.postHeading {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #000;
}

.headingLink {
  text-decoration: none;
}

.commentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.commentSmContainer {
  margin: .4em 0 .4em 0;
  width: 80%;
  background-color: #EDEDED;
  border-radius: 5px;
  /* include rounder border */
}

p {
  padding: .5em 0 .5em 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.commentText {
  padding: .8em;
}

.commentInfo {
  color: #808080;
}

.postHeading {
  margin: 0;
  display: inline-block;
}